.contenedor{
    margin: auto;
    display: flex;
    background-image: url(src/assets/bg-frase.jpeg);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

.frases{
    display: flex;
    padding: 50px;
    width: 700px;
    height: 210px;
}

h1{
    display: flex;
    font-size: 23px;
    align-items: center;
    text-align: center;
    color: darkgray;
    font-family: sans serif;
}

h2{
    display: flex;
    font-size: 40px;
    margin: auto;
    color: aliceblue;
    font-family: cursive;
}

button{
    display: flex;
    margin: auto;
}

.btn{
    border: 1px solid white;
    color: aliceblue;
    max-width: 50%;
}