<div class="mover">
    <div class = "container mt-3 m-4">  
        <div class = "m-3 p-5 text-body rounded" id = "jumbo">  
            <img src="assets/titulo.png" alt="titlo"> 
            <p>  
            Welcome to our place of healing and progress on the path of life.  
            <br> It is complex to start from scratch where you think you will not have any success, that is why we created this page so that you can face the walls of life with some motivating phrases from famous people. 
            <br> 
            In case you need to speak with one of our agents, you can leave us your email and message in Contact.  
            </p>  
        </div>  
    </div> 
</div>
